.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  letter-spacing:3px;
  box-shadow: 3px 5px #f5f5f5;
}
h1{
  margin-top:5%;
}
.tabs {
  overflow: hidden;
  text-align: center;
  margin-top: 3%;
}
.tabs button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 55px;
  font-size: 17px;
  background-color: #fff;
}
.tabs button.active,
.tabs button.active::after {
  content:"";
  background-color: #fff;
  border-bottom: none;
}

button.tabButton {
  position: relative;
  border-radius: 5px 5px 0 0;
  border: 2px solid #f5f5f5;
  margin-right: 7px;
}
table{
  width: 100%;
  margin: 0 auto;
}
/* th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
  /* width: 45px;
  overflow: hidden; 
} */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.tabContent {
  margin-top: 20%;
  display: none;
  padding: 1px 0px 0px 0px;
}
.content {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
/* input#firstName, input#lastName, label#gender {
  margin-right: 36%;
} */
a:not(#terms) {
  text-decoration: none;
  padding:0px 5px 1px 5px;
  border: 1px solid black;
  color: black;
}
a:hover:not(#terms) {
cursor: pointer;
background-color:lightsalmon;
}
#cancelButton {
  display: none;
}